html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #5f503e;
}

footer{
  background-color:#5f503e;
}

.btn-primary{
  background-color: #102c57 !important;
  border-color: #102c57 !important;
}

.btn-nav{
  background-color: 0 !important;
  border-color: 0!important;
  color: rgb(179, 179, 179) !important;
}

.btn-nav:hover{
  background-color: #102c57 !important;
  border-color: #102c57  !important;
}

.btn-active{
  background-color: #102c57 !important;
  border-color: #102c57  !important;
  color: white !important;
}

.card{
  background-color: rgba(221, 221, 221, 0.603);
  border-radius: 5%;
}

.numConvidados{
  background-color: rgba(230, 230, 230, 0.904);
  color: rgb(0, 0, 0);
}

.text-custom{
  color: #b5b5b6 !important;
}

.form-control{
  background-color: rgba(179, 179, 179, 0.685) !important;
  border-color: #102c57 !important;
}

.form-control:focus{
  background-color: rgba(179, 179, 179, 0.685) !important;
  border-color: #102c57 !important;
  color: black !important;
  box-shadow: none !important;
}

a{
  color: #102c57;
  text-decoration: none;
}

a:hover{
  color: #4d647c;
  text-decoration: underline;
}

.nav-link:hover,.navbar-brand:hover{
  color: white !important;
  text-decoration: none !important;
}